/* MEDIA QUERIES */

@media only screen and (max-width: 1440px) {
 
}

/* applies to width of 980px */

@media only screen and (max-width: 980px) {
  /* HOME PAGE */
  .designer-name {
      font-size: 14em;
      margin-top: 25%;
  }

  .experience {
      font-size: 1.75em;
  }

  .contact-container {
      bottom: -950px;
  }

}

/* applies to width of 768px */

@media only screen and (max-width: 768px) {
/* HOME PAGE */
  .designer-name {
      font-size: 13em;
      margin-top: 25%;
  }

  .designer-description {
      font-size: 16px;
  }

  .contact-container {
      width: 100vh;
      bottom: -950px;
  }

}

/* applies to width of 640px */

@media only screen and (max-width: 640px) {

}

/* applies to width of 640px */

@media only screen and (max-width: 375px) {

}